<!DOCTYPE html>
<html>
<head>
  <title>Blacklivesmatter:Remembered</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="back">
        <nav class="navbar navbar-inverse fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <%= link_to "Blacklivesmatter", root_path , class: 'navbar-brand' %>
                </div>
                <div class="pull-right ">
                    <% if current_user %>
                        <p class="signin">Signed in as <strong><%= current_user.name%></strong></p>
                        <%= link_to "Logout", logout_path , class: "navbar-link btn btn-default navbar-btn "%>
                        <%= link_to "Profile", current_user , class: "navbar-link btn btn-default navbar-btn "%>
                    <%else%>
                        <%= link_to "Login", login_path, class: "btn btn-default" %>
                    <%end%>
                </div>
            </div>
        </nav>

<%= yield %>

<!-- delete the params thing after the project has been completed -->
<%= params %>
</body>
</html>
